# Python
__pycache__/
*.pyc

# Virtual environments
venv/
myenv/

# Jupyter
.ipynb_checkpoints/

# MLflow
mlruns/
mlartifacts/

# Model artifacts
*.pkl
*.joblib
artifacts/

# Data
*.csv
*.parquet

# Outputs
outputs/

# Docker
*.tar

# Logs
*.log

# Environment files
.env

# Anaconda
anaconda_projects/

# OS files
.DS_Store
Thumbs.db